* {
    font-size: 105%;
}

*:not(header):not(header *) {
    animation: appear 1.25s ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: "Ubuntu", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#bg, #textBg, #papuImg {
    padding: 20px;
    margin: 0;
    height: 100%;
    display: block;
    border-radius: 15px 20px 40px 10px;
    /* shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#bg {
    background-color: rgba(39, 39, 39, 0.25);
}

#textBg {
    background-color: rgb(53, 81, 207);
    color: white;
    justify-content: center;
    align-items: center;
}

#papuImg {
    width: 155px;
    height: 155px;
    border-radius: 25% 35%;
    align-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
}

.papu {
    margin-left: -10px;
    width: 130%;
    height: 120%;
    margin-top: -10px;
    border-radius: 50%;

}

#front .indev {
    background-color: #ff3333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}

.flagtrans, flagtrans {
    display: -webkit-box;
    width: 40px;
    height: 25px;
    background: linear-gradient(0deg, #55cdfc 16.67%, #f7a8b8 16.67% 33.33%, #ffffff 33.33% 66.67%, #f7a8b8 66.67% 83.33%, #55cdfc 83.33%);
}

.flagbi, flagbi {
    display: -webkit-box;
    width: 40px;
    height: 25px;
    margin-left: 50px;
    margin-top: -25px;
    background: linear-gradient(0deg, #0038a8 0%, #0038a8 33.33%, #9b4f96 33.33%, #9b4f96 66.67%, #d60270 66.67%, #d60270 100%);
}

header {
    background: linear-gradient(to right, rgb(255, 61, 61), red);
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#aboutme p {
    margin-left: 30px;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 15%;
    margin: 0 auto;
    display: block;
}

header imgdot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    float: right;
    background-color: rgb(0, 162, 255);
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

header ul li a:hover {
    background-color: rgb(255, 61, 61);
    border-radius: 5px;
}

header h1 {
    float: left;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main ul li {
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(223, 223, 223);
}

main ul li:hover {
    background-color: rgb(196, 196, 196);
}

main .project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main .project-list .project {
    width: 275px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

main .project-list .project img {
    height: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}

main .project-list .project h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

main .project-list .project p {
    font-size: 14px;
}

.tilin {
    background-color: rgb(53, 81, 207);
    color: #fff;
    width: 75%;
    padding: 10px;
    border-radius: 50px;
    font-size: 12px;
}

main .project-list .project .button {
    background-color: #202020;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transform: none;
    transition: background-color 0.3s;
}

main .project-list .project .button:hover {
    background-color: #404040;
}

footer {
    background: linear-gradient(to right,  red,rgb(255, 61, 61));
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li img {
    height: 20px;
    display: block;
    float: right;
    margin: 0 auto;
    margin-top: -10px;
    transition: height 0.3s;
}

footer ul li {
    display: inline;
    margin: 0 10px auto;
    float: right;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

arrow {
    font-size: 64px;
    font-weight: bold;
    position: absolute;
    right: 5%;
    margin-top: -80px;
    animation: bounce 2s infinite;
}

@media (max-width: 767px) {
    header ul li {
        display: none;
    }
    header ul {
        justify-content: center;
    }
    header h1 {
        float: none;
        text-align: center;
    }
    #flags {
        margin-left: 75%;
    }
    #textBg {
        width: 90%;
        margin-left: -20px;
    }
    main .project-list .project {
        width: 200px;
    }
    main .project-list .project img {
        height: 200px;
    }
}

@media (max-width: 375px) {
    main .project-list .project {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #textBg {
        width: 75%;
    }
    #flags {
        margin-left: 90%;
    }
}
